.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(26, 97, 93);
    position: fixed;
    z-index: 100;
}

.search {
    display: flex;
    place-content: center;
    width: 40%;
    margin-top: 5px;
}

.search > input {
    width: 80%;
    border-radius: 15px;
    padding-left: 5px;
    outline: none;
}

.search > button {
    border-radius: 5px;
}

.navigation {
    display: flex;
    margin-top: 5px;
}

.home {
    border: 1px solid;
    padding-right: 10px;
    padding-left: 10px;
    margin: 5px;
}

.name {
    color: rgb(96, 17, 243);
    border-radius: 10px;
    padding: 5px;
    text-transform: capitalize;
    text-shadow:0 1px 0 rgb(122, 138, 235), 0 2px 0 #919de0, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.link {
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
}

.logout {
    margin-left: 10px;
    border-radius: 10px;
    margin: 5px;
}

a {
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 10px;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.329);
    color: white;
}